/***** LOGIN FORM *****/

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login__form-label {
    font-weight: bold;
    color: var(--dark-red-L25);
}

.create__form-label {
    font-weight: normal;
    color: var(--dark-grey);
}

.register-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: var(--half-margin) 0;
}

.register-link a {
    text-decoration: underline;
    font-family: var(--ubuntu);
    color: var(--dark-grey);
}

.register-link a:hover {
    color: var(--dark-blue)
}