/***** SMALL-CARD-SECTION *****/

.card-section {
    display: flex;
    margin-right: 40px;
}

.card-section ul {
    margin: 40px 0 0 15rem;
    list-style: none;
}

.card-section li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.card-section h2:hover {
    font-weight: bold;
    cursor: pointer;
}



