.badge {
    height: 110px;
    width: 110px;
    /*position: relative;*/
    border: var(--dark-grey) dashed 1px;
    border-radius: 100%;
    padding: 4px;
}

.badge img {
    filter: saturate(40%);
    width: 50px;
    margin: 5px;
}

.badge h5 {
    margin-top: 5px;
}


/*.badge__inner {*/
/*    position: absolute;*/
/*    z-index: 6;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    height: 80px;*/
/*    width: 80px;*/
/*    margin: -40px 0 0 -40px;*/
/*    background: red;*/
/*    border-radius: 100%;*/
/*}*/

/*.badge__circle {*/

/*}*/

.badge .progress-bar {
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*background: #fff;*/
    /*-webkit-border-radius: 100%;*/
    /*clip: rect(0px, 100px, 100px, 50px);*/
}