.menu-topic {
    margin: var(--single-margin) 0 0 10rem;
    text-shadow: 0 0.2rem 0.4rem hsla(0, 0%, 0%, 0.25);
    z-index: 1;
}

/*.card-menu__active-task:first-letter {*/
/*    text-transform:capitalize;*/
/*}*/

.menu-topic__img {
    position: absolute;
    bottom: 12.5%;
    left: 10rem;
    width: 25%;
    filter: saturate(40%) opacity(30%);
}

.menu {
    position: relative;
    margin: var(--single-margin) 0 0 3rem;
    width: 50%;
}

.menu__content {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu__content--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    overflow-y: auto;
    overflow-x: hidden;
}

.menu__content--scroll {
    max-height: 12.8rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu__title, .menu__field {
    padding: 0;
    width: 100%;
    height: 3rem;
    border: none;
    background-color: var(--light-red-10);
    font-family: var(--mono-b612);
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.menu__title {
    margin-bottom: 10px;
}

.menu__field {
    margin-bottom: 0.2rem;
}

.menu__field--long {
    padding: 0 0 0 1rem;
    font-family: var(--ubuntu);
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
}


