/***** HEADER *****/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    /*dashed line:*/
    background-image: linear-gradient(to right, var(--dark-blue) 50%, var(--light-yellow-20) 0%);
    background-position: bottom;
    background-size: 20px 2px;
    background-repeat: repeat-x;
}

.header__app-logo {
    width: 320px;
    flex: 0 1 auto;
}

.header__player {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 50%;
    gap: 40px;
}

.header__avatar {
    width: 60px;
    flex: 0 0 auto;
}
