/***** NAVBAR *****/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 40px;
    flex: 1 0 auto;
}

.navbar__link {
    text-decoration: none;
    color: var(--dark-blue);
}

.navbar__link:focus {
    color: var(--dark-red-L25);
    font-weight: bolder;
}