.account__form-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 10rem;
    color: var(--dark-blue);
    font-size: 1rem;
}

.account__form-label {
    font-weight: normal;
    color: var(--dark-grey);
}

.account__avatar-box {
    position: relative;
}

.account__avatar-picker {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    padding: 4px 8px;
    margin: 12px 0;
    background-color: var(--accent-yellow-L70);
    filter: opacity(80%);
    box-shadow: inset 0 2px 4px hsla(0, 0%, 0%, 0.25);
}

.account__avatar-img {
    position: absolute;
    width: 90%;
    top: 5%;
}

.account__avatar-img:hover {
    cursor: pointer;
    filter: contrast(110%);
}

.account__avatar-label {
    text-align: center;
    font-weight: normal;
}
