/***** TABLE *****/

.table {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
    padding: 0 1rem;
}

.table__col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 25%;
    row-gap: 1rem;
}

.table__col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
}

.table__col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.table__col4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    margin-left: 2rem;
}

.table__col4 button {
    margin: 0;
    width: 4rem;
    height: 1.2rem;
    font-size: 0.8rem;
}

.table-img {
    width: 1.5rem;
}


