@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    /*colors*/
    --light-yellow-100: hsl(51, 40%, 98%);
    --light-yellow-80: hsla(45, 40%, 98%, 0.8);
    --light-yellow-20: hsla(45, 40%, 98%, 0.2);
    --light-yellow-S70-10: hsla(45, 70%, 75%, 0.1);
    --light-red-10: hsla(338, 40%, 25%, 0.1);
    --light-blue-40: hsla(213, 40%, 85%, 0.4);
    --dark-grey: hsl(0, 0%, 14%);
    --dark-blue: hsl(216, 40%, 39%);
    --dark-red-L25: hsl(338, 40%, 25%);
    --accent-yellow-L70: hsl(42, 69%, 70%);
    --accent-yellow-L85: hsl(42, 69%, 85%);
    --accent-blue-L85: hsl(213, 40%, 85%);
    --accent-red-L35: hsl(338, 40%, 35%);

    /*fonts*/
    --mono-b612: "B612 Mono", monospace;
    --ubuntu: "Ubuntu", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./assets/white-wave.png"), linear-gradient(var(--light-yellow-80), var(--light-yellow-80));
    background-size: cover;
    background-blend-mode: overlay;
    font-family: var(--mono-b612);
    color: var(--dark-grey);
}

h2 {
    margin: 1rem 0;
}

/***** PAGES *****/

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.login-container, .play-container, .start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex: 0 1 auto;
    margin-bottom: 80px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70%;
    width: 80%;
    flex: 1 0 auto;
    margin-bottom: 80px;
}

.footer-hidden {
    height: 80px;
    flex: 0 0 auto;
    visibility: hidden;
}

.footer-hidden--small {
    height: 40px;
}


/***** DASHBOARD *****/

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    margin: 0 40px;
}

.dashboard__upper {
    width: 100%;
    background-color: var(--light-yellow-S70-10);
    padding: 20px;
}

.dashboard__middle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.dashboard__lower {
    width: 60%;
    background-color: var(--light-red-10);
    padding: 20px;
    margin-right: auto;
}

.dashboard__badge-section {
    width: 50%;
    background-color: var(--light-blue-40);
    padding: 20px;
    text-align: center;
}

.dashboard__badges-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.dashboard__leaderboard {
    width: 30%;
    background-color: var(--light-yellow-80);
    padding: 20px;
    text-align: center;
}

.leader-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.leader-img {
    width: 1.5rem;
}

.dashboard__subtitle {
    font-family: var(--ubuntu);
}

/***** TABLE *****/

.table {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9rem;
    gap: 2%;
}

.table__col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    row-gap: 1rem;
}

.table__col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.table__col3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.table__col4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 10%;
}

.table__col4 button {
    margin: 0;
    width: 4rem;
    height: 1.2rem;
    font-size: 0.8rem;
}

/*##### SMALL-CARDS >>>MOET DIT HIER? #####################*/

/***** PICK-A-CHALLENGE *****/

.card-list {
    margin: 0 0 0 15rem;
    list-style: none;
}

.card-list__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.card-list__img {
    filter: saturate(40%) drop-shadow(0px 2px 4px hsla(0, 0%, 0%, 0.25));
    width: 2rem;
    height: 2rem;
}

.card-list__task:hover {
    font-weight: bold;
    cursor: pointer;
}

.card-list__task--inactive {
    font-weight: normal;
}

.card-list__task--active {
    font-weight: bolder;
}

/*########################################################################*/


/***** BUTTONS *****/

.button-box {
    display: flex;
    width: 900px;
    align-items: flex-start;
    justify-content: space-between;
}

.nav-button {
    font-family: var(--mono-b612);
    font-weight: bold;
    background-color: var(--accent-yellow-L85);
    color: var(--dark-blue);
    width: 105px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    margin-top: 10px;
    filter: drop-shadow(0px 4px 4px hsla(0, 0%, 0%, 0.25));
    transition-duration: 0.1s;
}

.nav-button:hover {
    background-color: var(--accent-yellow-L70);
    cursor: pointer;
}

.nav-button:active {
    transform: translateY(1px);
    background-color: hsl(42, 69%, 75%);
}


/***** LOGIN FORM *****/

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

form label {
    color: var(--dark-red-L25);
    font-weight: bold;
}

form input {
    width: 100%;
    height: 2rem;
    padding: 4px 8px;
    margin: 6px 0;
    border: none;
    background-color: var(--accent-yellow-L70);
    filter: opacity(80%);
    box-shadow: inset 0 2px 4px hsla(0, 0%, 0%, 0.25);
    font-family: var(--mono-b612);
}

form input:focus {
    outline: none;
    border: var(--dark-red-L25) solid 1px;
    background-color: var(--accent-yellow-L70);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: inset 0 2px 4px hsla(0, 0%, 0%, 0.25);
    -webkit-box-shadow: 0 0 0 30px var(--accent-yellow-L70) inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--dark-grey) !important;
}

.form-button {
    align-self: center;
    margin-top: 50px;
    width: 40%;
    background-color: var(--dark-blue);
    color: var(--accent-yellow-L85);
}

.form-button:hover {
    background-color: var(--accent-yellow-L70);
    color: var(--dark-blue);
}

.register-link {
    cursor: pointer;
    margin: 20px 0;
}

.register-link a {
    font-family: var(--ubuntu);
    color: var(--dark-grey);
}

.register-link a:hover {
    color: var(--dark-blue)
}

.error-text {
    font-family: var(--ubuntu);
    color: var(--accent-red-L35);
    margin-bottom: 12px;
}

/***** FIRST-LOGIN *****/

.avatar-slider-box {
    display: flex;
    justify-content: center;
    width: 100%;
}

.avatar-slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.avatar-slider--next {
    justify-content: flex-end;
}

.nav-arrow {
    cursor: pointer;
    font-size: 4rem;
    color: var(--dark-grey);
    vertical-align: middle;
    margin: auto;
}

.start-text__box, .how-to__box {
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
}

.start-text__par, .how-to__par {
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bolder;
    line-height: 1.5;
    word-spacing: 5px;
    letter-spacing: 0.5px;
}

.how-to__box {
    margin-top: 40px;
}

.how-to__par {
    margin-bottom: 60px;
}




