@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
    /*colors*/
    --light-yellow-100: hsl(51, 40%, 98%);
    --light-yellow-80: hsla(45, 40%, 98%, 0.8);
    --light-yellow-20: hsla(45, 40%, 98%, 0.2);
    --light-yellow-S70-10: hsla(45, 70%, 75%, 0.1);
    --light-red-10: hsla(338, 40%, 25%, 0.1);
    --light-blue-40: hsla(213, 40%, 85%, 0.4);
    --dark-grey: hsl(0, 0%, 14%);
    --dark-blue: hsl(216, 40%, 39%);
    --dark-red-L25: hsl(338, 40%, 25%);
    --accent-yellow-L70: hsl(42, 69%, 70%);
    --accent-yellow-L85: hsl(42, 69%, 85%);
    --accent-blue-L85: hsl(213, 40%, 85%);
    --accent-red-L35: hsl(338, 40%, 35%);

    /*fonts*/
    --mono-b612: "B612 Mono", monospace;
    --ubuntu: "Ubuntu", sans-serif;

    /*standard sizing*/
    --half-margin: 20px;
    --single-margin: 40px;
    --double-margin: 80px;
    --normal-icon: 50px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./assets/white-wave.png"), linear-gradient(var(--light-yellow-80), var(--light-yellow-80));
    background-size: cover;
    background-blend-mode: overlay;
    font-family: var(--mono-b612);
    color: var(--dark-grey);
}

.loading {
    position: absolute;
    left: 50%;
    top: 10%;
    color: var(--dark-red-L25);
    font-weight: bold;
}


/***** PAGES *****/

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.login-container, .about-container, .play-container, .start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    flex: 0 1 auto;
    margin-bottom: var(--double-margin);
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 70%;
    width: 80%;
    flex: 1 0 auto;
    margin-bottom: var(--double-margin);
}

.footer-hidden {
    height: var(--double-margin);
    flex: 0 0 auto;
    visibility: hidden;
}

.footer-hidden--small {
    height: var(--single-margin);
}


/***** NAV-BUTTONS *****/

.nav-button {
    font-family: var(--mono-b612);
    font-weight: bold;
    background-color: var(--accent-yellow-L85);
    color: var(--dark-blue);
    width: 105px;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    margin-top: 10px;
    filter: drop-shadow(0px 4px 4px hsla(0, 0%, 0%, 0.25));
    transition-duration: 0.1s;
}

.nav-button:hover {
    background-color: var(--accent-yellow-L70);
    cursor: pointer;
}

.nav-button:active {
    transform: translateY(1px);
    background-color: hsl(42, 69%, 75%);
}

.nav-button--tiny {
    border-radius: 5px;
}


/***** ERRORS *****/

.error-text {
    font-family: var(--ubuntu);
    font-weight: normal;
    color: var(--accent-red-L35);
    margin-bottom: 12px;
}



