.progress-bar {
    flex: 0.5 0 320px;
    border-radius: var(--half-margin);
    box-shadow: 0 4px 10px 1px hsla(0, 0%, 0%, 0.25);
}

.progress {
    height: var(--half-margin);
    line-height: var(--half-margin);
    background-color: var(--accent-yellow-L70);
    border-radius: var(--half-margin);
}

.percentage {
    font-size: 0.8rem;
    font-weight: bold;
    text-align: end;
    color: var(--light-yellow-100);
    margin: 0 0.5rem 0 0.5rem;
}